.blog-btn{
    background-color:white;
    color:black;
}

.blog-jumbo{
    text-align: center;
    margin:auto;
    width:55%;
    height:45%;
    /* background-color: white; */
}

/* .footer-bg{
    background-color: grey;
}

.footer-text{
    color:white;
    text-align:center;
     position: fixed;
    width:100%;
    left:0;
    bottom:0;
    padding:10px 10px 0px 10px;
} */