.contact{
    text-align: center;
    margin: auto;
    width:35%;
    height:35%;
}

/* .contact-bg{
    background-image:url(../../assets/img/music-sheet.png);
} */

.contact-header{
    font-family:Arial;
}