body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Homepage */
.home-pic{
text-align:center;
margin:auto;
float:right;
}



/* .about-bg{
  background-color: rgb(226, 43, 171);
} */


.schedule-wrapper{
  text-align:center;
}

.flute-wrapper{
  text-align:center;
  /* width:50%;
  height:50%;
  margin:0 auto; */
}

.flute-head{
  color:black;
  font-weight:bold;
  font-size: 70px;
  background-color:white;
  margin:auto;
  width: 35%;
  height:50%;
}

.flute-text{
  color:blue;
  font-weight: bold;
}

.flute-secline{
  color:black;
  font-weight:bold;
  font-size:15;
}

.flute-form{
  text-align:center;
  float:right;
  margin:auto;
}
.schedule{
  background-color:white;
  margin:auto;
  width: 45%;
  height:50%;
}